NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret123

KEYCLOAK_CLIENT_ID=frontend-client
KEYCLOAK_CLIENT_SECRET=**********
KEYCLOAK_ISSUER=http://localhost:8000/realms/project-realm
KEYCLOAK_INTERNAL_ISSUER=http://keycloak:8000/realms/project-realm
